@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #1d3e35;
    --color2: white;
    --color3: black;
    --background: #D9D9D9;
    --font-roboto: "Roboto", sans-serif;
    --font-inter: "Inter", sans-serif;
    --border-radius: 10px;
}

body{
    width: 100vw;
    height: 100vh;
    background: white;
    font-family: var(--font-roboto);
}

.card {
    background: var(--color1);
    padding: 20px 0;
    width: 15%;
    margin-top: 50px;
    border-radius: 0 10px 10px 0;
}

.card svg {
    width: 30%;
    fill: var(--color2);
    display: block; 
    margin: auto; 
}

article{
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

.banner{
    width: 100%;
    background: var(--background);
    padding: 30px;
    display: grid;
    grid-template-columns:1fr;
}

.banner_caption{
    width: auto;
}


.banner h1{
    font-family: var(--font-inter);
    color: black;
    font-weight: 850;
    font-size: 3em;
    line-height: 50px;
}

.banner  h2{
    width: 50%;
    font-size: .8em;
    color: #959595;
    font-weight: 600;
    font-family: var(--font-inter);
}

.banner_caption button {
    width: auto;
    padding: 10px;
    border-radius: var(--border-radius);
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: .8em;
    font-family: var(--font-inter);
    font-weight: 600;
    cursor: pointer;
    background: transparent;
    border: 2px solid black;
    color: var(--color3);
    transition: background 0.3s, color 0.3s; 
}

.banner_caption button:hover {
    background: var(--color1);
    color: var(--color2); 
}

.banner_caption button i {
    font-size: .8em;
    margin-right: 5px;
    transition: color 0.3s; 
    color: var(--color3); 
}

.banner_caption button:hover i {
    color: var(--color2); 
}

figure {
    display: none;
}

section {
    display: flex;
    justify-content: space-between;
    background: var(--background);
    border-radius: var(--border-radius);
    padding: 20px 10px;
    margin-bottom: 20px;
}

section .book{
    width: 50%;
    text-align: center;
}

section > .book > img{
    max-width: 80%;
    height: auto;
    border-radius: var(--border-radius);
}

.book-info, h3{
    font-family: var(--font-inter);
    font-weight: 800;
    font-size: .7em;
}

.rating{
    color: yellow;
    margin-top: 5px;
    font-size: 10px;
}

.book-description{
    width: 60%;
    font-size: 6px;
}

.book-description p{
    margin-top: 10px;
}
